# Dependencies
bin/
vendor/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Build artifacts
*.exe
*.test
*.out

# Environment variables
.env
.env.local
.env.example

# IDEs
.vscode/
.idea/
